* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.part1 {
    background-color: #1f2937;
}

.header {
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    font-size: 18px;
    gap: 20px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #aaabaf;
}

.sec1 {
    padding: 100px 200px 150px 200px;
    display: flex; 
    justify-content: center;
}

.info {
    padding-right: 40px;
}

.sec1header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

p {
    font-size: 18px;
    color: #aaabaf;
    margin: 10px 0px;
}

button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 35px;
    border: none;

}
.img1 {
    width: 530px;
    height: auto;
}

.sec2 {
    background-color: white;
    margin-top: 10px;
    padding: 100px 250px;
}
.sec2header {
    text-align: center;
    font-size: 36px;
    font-family: 900;
    color: #1f2937;
    margin: 0;
    padding-bottom: 30px;
    background-color: white;
}

.imagelist {
    padding: 0;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.item {
    background-color: white;
    max-width: 150px;
    display: flex;
    text-align: center;
}

.image {
    height: 170px;
    width: 170px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.subtext {
    color: #666769;
    padding-top: 10px;
}

.words {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.credit {
    color: #1f2937;
    margin-top: -20px;
    text-align: end;
    font-size: 24px;
}

.sec3 {
    display: block;
    padding: 100px 300px;
    background-color: #e5e7eb;
}

.sec4 {
    margin: 100px 230px;
    padding: 30px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px; 
}

.leftbutton p {
    color: #e5e7eb;
    margin-top: -10px;
}

.rightbutton {
    border: 2px solid white;
    border-radius: 8px;
}

footer {
    background-color: #1f2937;
    text-align: center;
    padding:50px
}