* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}
.part1 {
    background-color: #1f2937;
}

.header {
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    font-size: 18px;
    gap: 20px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #aaabaf;
}

.sec1 {
    padding: 100px 200px;
    display: flex; 
    justify-content: center;
}

.info {
    padding-right: 40px;
}

.sec1header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

p {
    font-size: 18px;
    color: #aaabaf;
    margin: 10px 0px;
}

button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 35px;
    border: none;

}
.img1 {
    width: 530px;
    height: auto;
}

.sec2 {
    background-color: white;
    margin-top: 50px;
    padding: 50px;
}
.sec2header {
    text-align: center;
    font-size: 36px;
    font-family: 900;
    color: #1f2937;
    margin: 0;
    padding-bottom: 30px;
    background-color: white;
}

.imagelist {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
    background-color: white;
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.image {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    background-color: white;;
}

.subtext {
    background-color: white;
}
